
                    <div class="message recipient-message">
                        <div class="avatar">
                            <span class="initial">J</span>
                        </div>
                        <div class="content">
                            <div class="user-details">
                                <span class="name">Jane Smith</span>
                                <span class="time">12:31 PM</span>
                            </div>
                            <p>Hi John!</p>
                        </div>
                    </div>
                    <hr class="message-divider">
                    <div class="message user-message">
                        <div class="avatar">
                            <span class="initial">J</span>
                        </div>
                        <div class="content">
                            <div class="user-details">
                                <span class="name">John Doe</span>
                                <span class="time">12:32 PM</span>
                            </div>
                            <p>How are you?</p>
                        </div>
                    </div>
                    <hr class="message-divider">
                    <div class="message recipient-message">
                        <div class="avatar">
                            <span class="initial">J</span>
                        </div>
                        <div class="content">
                            <div class="user-details">
                                <span class="name">Jane Smith</span>
                                <span class="time">12:33 PM</span>
                            </div>
                            <p>I'm good, thanks!</p>
                        </div>
                    </div>
                    <hr class="message-divider">
                    <div class="message recipient-message">
                        <div class="avatar">
                            <span class="initial">J</span>
                        </div>
                        <div class="content">
                            <div class="user-details">
                                <span class="name">Jane Smith</span>
                                <span class="time">12:33 PM</span>
                            </div>
                            <p>long longlong longlong longlong longlong longlong longlong longlong longlong longlong
                                longlong longlong longlong longlong longlong longlong longlong longlong longlong
                                longlong longlong longlong longlong longlong longlong long</p>
                        </div>
                    </div>
                    <hr class="message-divider">